div {

	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 5%;
	border: 2px solid black;
	margin-left: 5px;
	margin-top: 5px;
	text-align: center;
}


div p {
	position: relative;
	margin-top: 40px;
	font-size: 22px;
}

.vessel {
	height: 450px;
	width: 150px;
	border: 5px solid black;
	border-radius: 0%;
}

.package {
	border: 2px solid green;
}

