
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


label {
  display: block;
  font-size: 20px;
}

.error {
	color: #FF0000;
	font-family: Lucida Console;
	font-size: 14px;
}


